[submodule "odmpy-ng"]
	path = odmpy-ng
	url = https://github.com/wtanksleyjr/odmpy-ng
	ignore = untracked
[submodule "odmpy"]
	path = odmpy
	url = https://github.com/wtanksleyjr/odmpy
	ignore = untracked
